div.play {
  width: 19px;
  height: 17px;
  cursor: pointer;
  display:inline-block;
  background-color: rgb(170, 154, 112);
  border-radius: 6px;
  background: url('../images/play.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin : 2px;
}
div.play-pause.amplitude-paused {
  background: url('../images/pause.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
div.amplitude-play-pause.amplitude-playing {
  background: url('../iconstar.png');
  background: url('../images/pause.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
div.stop {
  width: 19px;
  height: 17px;
  background-color: rgb(170, 154, 112);
  border-radius: 6px;
  cursor: pointer;
  display:inline-block;
  margin:2px;
  margin-right: 2px;
  background: url('../images/stop.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
div#player{
  margin-right: auto;
  margin-left: auto;
  width: 285px;
  height: 31px;
  background-color:rgb(237, 219, 218, 0.3);
  border-radius: 5px;
  padding-top: 5px;
  padding-left: 10px;
  text-align: left;
}

div#player:hover{
  background-color:rgb(237, 219, 218);
}
.player-right{
  display:inline-block;
  position: relative;
  width: 180px;
  height:17px;
  margin-left: 4px;
  margin-bottom: 3px;
  cursor: pointer;
}
div#progressbar{
  width:204px;
  background-color: rgb(172, 155, 111, 0.8);
  position: absolute;
  top: 16px;
  left: 1px;
}
div#fill{
  width:0%;
  padding-top: 2px;
  background-color: #4f5485;
}
#time{
  font-size:11px;
  display: inline-block;
  position: absolute;
  text-align: left;
  top: 1px;
  left: 2px;
  width: 205px;
}
