* {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}
html,body {
    background-color: #eadcde;
    height: 100%;
}
@keyframes animatedBackground {
    from {
        background-size: 1440px;
   }
    to {
        background-size: 1650px;
   }
}
@font-face {
    font-family: "Baskerville bold";
    src: url("../fonts/LibreBaskerville-Bold.ttf");
}
@font-face {
    font-family: "Baskerville regular";
    src: url("../fonts/LibreBaskerville-Regular.ttf");
}
@font-face {
    font-family:"bickham-script-pro-3";
    src:url("../fonts/bickham-script-pro-3.woff2") format("woff2"),url("../fonts/bickham-script-pro-3.woff") format("woff"),url("../fonts/bickham-script-pro-3.ot") format("opentype");
    font-display:auto;
    font-style:normal;
    font-weight:400;
}
.maincontener {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    min-width: 364px;
}
.bg-image {
    width: 1180px;
    height: 626px;
    margin: auto;
    background-image:url(../images/fond.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1440px;
    animation: animatedBackground 80s linear infinite alternate;
}
nav{
    position:absolute;
    left:-258px;
    top:54px;
    width:240px;
    font-size: 14px;
}
nav li {
    padding: 4px 26px 5px 5px;
    list-style: none;
    background: url(../images/circle.svg) no-repeat left top;
    background-size: 12px;
    background-position: right 7px;
    text-align: right;
}
.visible{
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    min-height: 610px;
    max-height:100%;
    overflow: auto;
}
.hidden{
    display:none;
}
.navlink {
    font-family: "Baskerville bold";
    color: #1a1818;
    font-size: 13px;
    letter-spacing: 1px;
    text-decoration: none;
}
.conteneur-player{
    margin-top: 9px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 14px;
}
.navlink:hover{
    border-bottom:1px solid #1a1818;
}
.default:link, .default:visited, .default:active{
    font-size: 13px;
    color:#1a1818;
    text-decoration: none;
}
.default:hover{
    text-decoration: underline;
}
.blocpage{
    padding-top: 1px;
    position: relative;
    width: 530px;
    min-width: 300px;
    height:610px;
    margin: 0 auto;
    background-color:rgba(255, 255, 255, 0.80);
    font-family: "Baskerville regular";
    color: #1a1818;
}
.content-top{
    width:100%;
    padding-left: 40px;
    padding-right: 40px;
}
.content-footer{
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    padding-bottom:15px;
}
.social-link{
    font-size: 10px;
    text-decoration: none;
    color: #1a1818;
}
h1.home{
    font-family: "bickham-script-pro-3";
    font-size: 70px;
    line-height: 20px;
    margin: 35px 0px 0px 0px;
}
h1.home-sub{
    font-size: 13px;
    margin: 17px 0px -6px 0px;
    letter-spacing: 1px;
    line-height: 1.7;
    white-space: nowrap;
}
.blochome-baseline{
    font-family: "Baskerville bold";
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 1px;
    margin-bottom: 1px;
}


.blochome-contact{
    font-family: "Baskerville regular";
    /* font-size: 10px; */
    line-height: 1.6;
    /* letter-spacing: 1px; */
    /* margin-bottom: 1px; */
    margin-top: 20px;
    /* background-color: rgb(237, 219, 218,0.65); */
    border-radius: 6px;
    width:200px;
    margin-left: auto;
    margin-right: auto;
    color: #1a1818;
}
.contact-txt{
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: -1px;
    line-height: 1.6;
}

.location-txt{
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: -2px;
    line-height: 1.7;
    font-family: "Baskerville regular";
    
}
.footer{
    padding-top: 5px;
    padding-right: 5px;
    text-align: right;
    font-size: 11px;
    background-color: #eadcde;
}
.blochome-location{
    width:77%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
    display:flex;
    background-color: rgb(237, 219, 218,0.65);
    border-radius: 6px;
    justify-content: space-evenly;
}
.location-card{
    margin-top: 0px;
    margin-bottom: 10px;
    width:50%;
}
.location-divider {
    border-left: 2px solid rgba(176, 165, 161);
    height: 71px;
    margin-top: 11px;
}
img.insta{
    vertical-align: middle;
    margin: 6px;
}
.social{
    margin-top: -4px;
    margin-right: 10px;
    /* margin-bottom: 10px; */
    
}
img.homemain {
    vertical-align:middle;
    margin-top:25px;
    margin-bottom: 17px;
    /* width:166px; */
}
.topbar{
    background-color:rgba(255, 255, 255, 0.2);
    padding:10px;
    text-align: right;
}
.holder {
    width: auto;
    display: inline-block;
}
.holder img {
    width: 100%;
   /* Will shrink image to 30% of its original width */
    height: auto;
}
h1.page-title{
    font-family: "Baskerville bold";
    font-size: 20px;
    margin-top: 29px;
    margin-bottom: 28px;
    font-size: 14px;
}
h1.page-title-sub{
    font-family: "Baskerville bold";
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 16px;
}
.page-text{
    font-size: 13px;
    line-height: 30px;
    margin-top: 9px;
}
.partenariat{
    width: 100%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 38px;
    display: flex;
    /* background-color: rgb(237, 219, 218,0.65); */
    /* border-radius: 6px; */
    justify-content: space-evenly;
}
.partenariat-card{
    /* margin-top: 8px; */
    /* margin-bottom: 4px; */
    margin-right: 15px;
    margin-left: 15px;
    width: 166px;
    border-radius: 10px;
    /* background-color: lightgray; */
    background-color: rgb(237, 219, 218,0.65);
    padding-bottom: 7px;
    /* height: 136px; */
}
.partenariat-txt{
    font-size: 10px;
    margin-top: 5px;
    line-height: 1.6;
}
img.partenariat-logo{
    margin-bottom: 7px;
    object-fit: cover;
    display: block;
    object-position: center center;
    width: 100%;
}




ul.formation{
    padding-inline-start: 25px;
    margin-top: 20px;
}

ul.prestation{
    padding-inline-start: 18px;
    margin-top: 20px;
}
ul.liste li{
   font-size: 13px;
   padding: 5px 11px 5px 17px;
   list-style: none;
   background: url(../images/puce-menu.svg) no-repeat left top;
   background-size: 5px;
   background-position: 4px 14px;
   text-align: left;
   line-height: 1.6;
}
.centertxt{
    text-align: center;
}
b{
    font-family: "Baskerville bold";
}
.decoration::before{
    content: '';
    background: url(../images/deco-title-left.svg) no-repeat left top;
    width: 72px;
    height: 19px;
    margin-right: 0px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    opacity: 0.2;
}
.decoration::after{
    content: '';
    background: url(../images/deco-title-right.svg) no-repeat left top;
    width: 72px;
    height: 19px;
    margin-left: -2px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    opacity: 0.2;
}
@media screen and (max-width:1180px) {
    .maincontener {
        height: 626px;
   }
}
@media screen and (max-width:900px) {
    nav{
        position:static;
        width:100%;
   }
    nav ul{
        padding-inline-start: 0px;
        width: 100%;
        /* min-width: 325px; */
        background-color: rgb(230, 225, 225,0.65);
        margin: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
   }
    nav li{
        padding: 4px 13px 5px 21px;
        display: inline-block;
        background-position: 3px 8px;
        background-size: 10px;
   }
    img.homemain {
        width:150px;
        margin-bottom: 15px;
        margin-top: 20px;
   }
    .visible{
        top:47px;
        min-height: 562px;
        max-height:562px;
   }
    .blocpage{
        height:609px;
   }
    .blochome-location{
        width: 77%;
   }


   .blochome-contact{

    margin-top: 2px;
    
}
}
@media screen and (max-width:530px) {
    .blocpage{
        width: 100%;
   }
    .page-text {
        font-size: 13px;
        line-height: 29px;
        margin-top: 17px;
   }
   .location-txt{
    font-size: 9px;
       }
}
@media screen and (max-width:471px) {
    .visible{
        top: 75px;
        min-height: 534px;
        max-height: 534px;
   }
    .content-top {
        padding-left: 10px;
        padding-right: 10px;
   }
    h1.home{
        font-size: 55px;
        margin-top: 27px;
   }
    h1.homesub{
        font-size: 11px;
        margin: 16px 0px -6px 0px;
        font-weight: 1;
        letter-spacing: 1px;
        line-height: 1.7;
        white-space: nowrap;
   }
    img.homemain {
        width:140px;
        margin-bottom: 17px;
        margin-top: 25px;
   }
    .blochome-baseline {
        font-size: 12px;
   }
    .conteneur-player{
        margin-top: 9px;
   }
    .decoration::before{
        display: none;
   }
    .decoration::after{
        display: none;
   }
}
